@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff) format('woff');
}
/*--===========================    body stylin'    ==============================--*/
body {
    font-family: Open Sans;
    color: #444;
    line-height: 1.375;
    background-image: url('img/sos.png');
    font-size: 14px;
}
/* ================== Typography ================*/
h1, h2, h3, h4 {
    color: #333;
    line-height: 1.375;
}
h1 {
    font-size: 30px;
    font-weight: 500;
}
h2 {
    font-size: 20px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 300;
}
p {
    font-size: 100%;
    padding-right: 3em;
}
a {
    color: #485B85;
    text-decoration: underline;
}
a:hover {
    color: #5478C4;
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.no-header {
    padding-top: 5px;
}
strong { font-weight: bold }
#hd h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#hd h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact-info h2, .contact-info h3 {
    line-height: 1.375em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.first h2 { font-style: italic }

/*--========================== Customized Grid ==================================--*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body { margin: 0px }
[class*='col-'] {
    float: left;
    padding-right: 20px;
}
[class*='col-']:last-of-type { padding-right: 0px }
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid-pad { padding: 30px 10px 0px 30px }
    .grid-pad > [class*='col-']:last-of-type { padding-right: 20px }
.push-right { float: right }
/* Content Columns */
.col-1-1 { width: 100% }
.col-2-3, .col-8-12 { width: 66.66% }
.col-1-2, .col-6-12 { width: 50% }
.col-1-3, .col-4-12 { width: 33.33% }
.col-1-4, .col-3-12 { width: 25% }
.col-1-5 { width: 20% }
.col-4-5 { width: 80% }
.col-1-6, .col-2-12 { width: 16.667% }
.col-5-6 { width: 83.33% }
.col-1-7 { width: 14.28% }
.col-1-8 { width: 12.5% }
.col-1-9 { width: 11.1% }
.col-1-10 { width: 10% }
.col-1-11 { width: 9.09% }
.col-1-12 { width: 8.33% }
/* Layout Columns */
.col-11-12 { width: 91.66% }
.col-10-12 { width: 83.333% }
.col-9-12 { width: 75% }
.col-5-12 { width: 41.66% }
.col-7-12 { width: 58.33% }
.contact-info {
    margin-top: 7px;
    text-align: right;
}
.visible-mobile { display: none }
.margin-align-14px { margin-top: 14px }
/*==================  footer ==================*/
#footer {
    padding: 1em 0 5em 0;
    font-size: 92%;
    text-align: center;
}
    #footer p {
        margin-bottom: 0;
        text-align: center;
    }
/* ===================== list  ===================== */
li { border-bottom: 1px solid #ccc }
.last { border-bottom: 0 }
ul {
    margin-left: 0px;
    padding-left: 0px;
}
    ul li {
        list-style: none;
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 10px;
        padding-bottom: 2px;
    }
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
    padding-bottom: 12px;
    padding-top: 13px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
    color: #333333;
    background-color: #d9d9d9;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.hr {
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    height: 1px;
}
.last { border: none }

.skills-list ul { margin: 0 }
.skills-list li {
  	 margin: 3px 0;
  	 padding: 3px 0;
}
.skills-list li span {
	font-size: 152%;
	display: block;
	margin-bottom: -2px;
	padding: 0;
}
.talent {
    width: 90%;
    float: left;
}
.talent h2 { margin-bottom: 6px }
.grid { background-color: white }

/* ================== responsive code ================= */

/* tablet */
@media (max-width: 940px) and (min-width: 769px) { 
	h1 {
	    font-size: 24px;
	    font-weight: 200;
	}
	.margin-align-14px { margin-top: 7px }
}
/* mobile */
@media handheld, only screen and (max-width: 767px) { 
	.contact-info { text-align: center }
	.grid {
	    width: 100%;
	    min-width: 0;
	    margin-left: 0px;
	    margin-right: 0px;
	    padding-left: 0px;
	    padding-right: 0px;
	}
	[class*='col-'] {
	    width: auto;
	    float: none;
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.visible-mobile { display: block }
	.paddedhr { padding-top: 10px }
	.margin-align-14px { margin-top: 0px }
	h1 {
	    font-size: 30px;
	    font-weight: 200;
	}
	.col-1-3 { padding-left: 0px !important }
    .no-header {
     padding-top: 0px;
    }
}
